.hero {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;

    &-remove__button {
        background-color: #ac3b61;
        height: 32px;
        color: white;
        border-radius: 4px;
        width: 70px;
        border: none;
    }

    &-remove__button:hover {
        cursor: pointer;
    }

}

.card > .carousel > .carousel-inner > .carousel-item > .hero__image {
    object-fit: none;
    object-position: center top;
    width: 100%;
    height: 280px;
  }
  
  .hero__no-image {
    object-fit: none;
    object-position: center top;
    width: 100%;
    height: 280px;
  }

  .info > .carousel > .carousel-inner > .carousel-item > .hero__image {
    max-height: 500px;
    object-position: center top;
    margin: 0 auto;
    object-fit: fill;
  }