.header {
  position: relative;
  background-color: #6db6ff !important;
  
  &__title{
    margin: 0;
    padding: 20px;
    color: #3e3e3e;
    font-family: 'Arial';
    font-weight: 700;
  }
  &__icon {
    width: 40px;
    margin: 0 15px;
  }
}

.app{
    text-align: center;
    background-color: white;
    height: auto;
    padding : 20px;
    box-shadow: 2px 2px 20px #ececec;
    border-radius: 20px;
  }

